/* :root {
  
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
    
  --main-text-color: #757575;
  --title-text-color: #212121;
  --logo-top-color: #000000;
  --accent-text-color: #2196F3;
  --accent-button-color: #188CE8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  
  --portfolio-card-border: #EEEEEE;
  --header-border-color: #ECECEC;
  --client-card-border: #AFB1B8;
  
  --main-bg-color: #ffffff;
  --dark-bg-color: #2F303A;
  --light-bg-color: #F5F4FA;
  
  --hero-bg-color: #C4C4C4;
  --hero-overlay: rgba(47, 48, 58, 0.4);

  --sm-icons-main: #afb1b8;
  --modal-backdrop: rgba(0, 0, 0, 0.2);

  --cards-gap: 30px;
} */

/* body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.71;
} */

/* reset */
/* h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
  height: auto;
} */

/* Common styles start */
  /* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  } */

  /* .link {
    text-decoration: none;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  } */
/* Common styles end */


/* Main Page */
/* Header */
/* .header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;
} */

/* .logo {
  color: var(--accent-text-color);
  font-size: 26px;
  font-weight: 700;
  font-family: var(--secondary-font), sans-serif;
  line-height: 1.19;
}

.logo--top {
  color: var(--logo-top-color);
}

.logo--down {
  color: var(--main-bg-color);
} */

/* .nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__list .nav__listItem+ .nav__listItem {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-text-color);
}

.nav__link--current {
  color: var(--accent-text-color);

  position: relative;

  padding-left: 2px;
  padding-right: 2px;
}

.nav__link--current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
} */

/* .contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .contacts__item+ .contacts__item {
  margin-left: 50px;
}

.contacts__mailIcon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__phoneIcon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__phoneIcon,
.contacts__link:focus .contacts__phoneIcon,
.contacts__link:hover .contacts__mailIcon,
.contacts__link:focus .contacts__mailIcon {
  fill: var(--accent-text-color);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-text-color);
} */



/* Hero */
/* .hero {
  background-color: var(--hero-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-bg {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    var(--hero-overlay),
    var(--hero-overlay)
  ),
  url(../images/bg-hero.jpg);
}

.hero__title {
  color: var(--main-bg-color);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.36;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
} */

/* .button {
  color: var(--main-bg-color);
  background-color: var(--accent-text-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-button-color);
}

.hero__button {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
} */



/* Hero modal window */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: var(--modal-backdrop);

  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.15);
} */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 528px;
  height: 581px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closeButton {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  
  border-radius: 50%;
  background-color: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__closeIcon {
  margin: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closeButton:hover .modal__closeIcon,
.modal__closeButton:focus .modal__closeIcon {
  fill: var(--accent-text-color);
}

.modal__form {
  padding: 40px;
}

.modal__formTitle {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal__formField {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__formLabel {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal__formInput {
  margin: 0;
  border-radius: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 16px 11px 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__formInput:focus,
.modal__formComment:focus {
  border-color: var(--accent-text-color);
  cursor: pointer;
  outline: none;
}

.modal__formInput:focus + .modal__iconWrap {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.modal__iconWrap {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  width: 18px;
  height: 18px;
}

.modal__formComment {
  margin: 0;
  border-radius: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 16px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__formComment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
  text-decoration: none;
  padding-left: 2px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  position: relative;
}

.policy__link::before {
  content: '';
  position: absolute;

  bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: var(--accent-text-color);
}

.policy__confirm {
  display: flex;
  align-items: center;
  padding-left: 13px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.policy__confirm:last-child {
  margin-right: 0;
}

.policy__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.policy__iconWrap {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__checkbox:focus + .policy__iconWrap {
  outline: 1px solid var(--title-text-color);
}

.policy__checkbox:checked + .policy__iconWrap {
  background-color: var(--accent-text-color);
  border: transparent;
  outline: none;
}

.policy__icon {
  display: flex;
  width: 100%;
  height: 100%;
}

.modal__button {
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;

  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


/* Sections common */
/* .features__title,
.activities__title,
.team__title,
.portfolio__title,
.clients__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */



/* Peculiarities */
/* .features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__listItem {
  width: 270px;
  margin-right: var(--cards-gap);
}

.features__listItem:nth-child(4n) {
  margin-right: 0;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  background-color: var(--light-bg-color);
}

.features__listTitle {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  margin-bottom: 10px;
  margin-top: 30px;
} */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */



/* Activities */
/* .activities__title {
  margin-bottom: 50px;
} */

/* .activities__list {
  display: flex;
}

.activities__listItem {
  margin-right: var(--cards-gap);
}

.activities__listItem:nth-child(3n) {
  margin-right: 0;
}

.activities__wrap {
  position: relative;
} */

/* .activities-wrap-img::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
} */

/* .activities__textWrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;

  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activities__text {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
} */


/* Team */
/* .team {
  background-color: var(--light-bg-color);
}

.team__list {
  display: flex;
}

.team__listTitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__listText {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__listItem {
  width: calc((100% - 90px) / 4);
  background-color: var(--main-bg-color);
  margin-right: var(--cards-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__listItem:nth-child(4n) {
  margin-right: 0;
}

.team__title {
  margin-bottom: 50px;
} */

/* .social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-media__item {
  margin-right: 10px;
}

.social-media__item:nth-child(4) {
  margin-right: 0;
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-media__link--lightBg {
  background-color: var(--main-bg-color);
  fill: var(--sm-icons-main);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover,
.social-media__link:focus {
  background-color: var(--accent-text-color);
  fill: var(--main-bg-color);
}

.social-media__icon {
  display: block;
  width: 20px;
  height: 20px;
} */



/* Clients */
/* .clients__title {
  margin-bottom: 50px;
}

.clients__links {
  display: flex;
  justify-content: center;
}

.clients__linkCard {
  margin-right: 30px;
}

.clients__linkCard:last-child {
  margin-right: 0;
}

.clients__logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--client-card-border);
  background-color: var(--main-bg-color);
  fill: var(--client-card-border);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logoLink:hover,
.clients__logoLink:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.clients__logoIcon {
  width: 106px;
  height: 60px;
} */



/* Footer */
/** Contacts subsection **/

/* .footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__address {
  flex-grow: 1;
} */

/* .address {
  margin-top: 20px;
}

.address__text {
  color: var(--main-bg-color);
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 9px;
}

.address__link {
  color: var(--footer-contacts-color);
  font-style: normal;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-text-color);
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0px;
} */


/** Social-media subsection **/

/* .appeal {
  color: var(--main-bg-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* .social-media__footer {
  margin-left: 70px;
}

.social-media__list {
  display: flex;
  margin-top: 20px;
}

.social-media__link--darkBg {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


/** Subscription subsection **/

/* .footer__container {
  display: flex;
  align-items: baseline;
} */

/* .form {
  margin-left: 93px;
}

.form__data {
  margin-top: 20px;
  display: flex;
}

.form__button {
  display: flex;
  align-items: center;
  margin-right: 0;
  
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
}

.form__input {
  width: 358px;
  padding: 14px 16px;
  margin-right: 12px;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-bg-color);
}

.form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--main-bg-color);
} */



/* Portfolio Page*/

/* .portfolio__button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: transparent;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--light-bg-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__buttonsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__buttonsItem {
  margin-right: 8px;
}

.portfolio__buttonsItem:last-child {
  margin-right: 0;
} */

/* .portfolio__cardsList {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__cardsItem {
  width: calc((100% - 60px) / 3);
  margin-right: var(--cards-gap);
  margin-bottom: var(--cards-gap);
}

.portfolio__cardsItem:nth-child(3n) {
  margin-right: 0;
}

.portfolio__cardsItem:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__cardsTitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__cardsCategory {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
} */

/* .portfolio__cardsLink {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
} */
/* 
.portfolio__cardsLink:hover,
.portfolio__cardsLink:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.portfolio__cardsContent {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--portfolio-card-border);
  border-bottom: 1px solid var(--portfolio-card-border);
  border-left: 1px solid var(--portfolio-card-border);
}

.portfolio__imgWrap {
  position: relative;
  overflow: hidden;
}

.portfolio__imgWrap::before {
  content: '';
  display: inline-block;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__textWrap {
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;
  transform: translateY(calc(100% + 126px));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__cardsText {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

.portfolio__cardsLink:hover .portfolio__imgWrap::before,
.portfolio__cardsLink:hover .portfolio__textWrap,
.portfolio__cardsLink:focus .portfolio__imgWrap::before,
.portfolio__cardsLink:focus .portfolio__textWrap {
  transform: translateY(0);
} */


/* Колір секцій тексту (сірий) #757575 */
/* Основний колір посилань, заголовків (чорний) #212121 */
/* Акцентний колір посилань (блакитний) #2196F3 */
/* Основний колір фону Хедер, Секція_2 (білий) #FFFFFF */
/* Акцентний колір фону Секція_1, Футер (темно сірий) #2F303A */
/* Акцентний колір фону Секція_3 (молочно білий) #F5F4FA */
/* Колір контактів футер rgba(255, 255, 255, 0.6) */