.form {
    @media screen and (max-width: 1199px) {
        // width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.form__data {
    margin-top: 20px;
    // display: flex;

    // @media screen and (max-width: 767px) {
    //     justify-content: center;
    // }

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.form__input {
    // width: 358px;
    width: 100%;
    padding: 14px 16px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--dark-bg-color);

    @media screen and (max-width: 767px) {
        // width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 1199px) {
        // width: 450px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

.form__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--main-bg-color);
}

