.features__title,
.activities__title,
.team__title,
.portfolio__title,
.clients__title {
    color: var(--title-text-color);
    font-weight: 700;
    text-align: center;

    @media screen and (min-width: 480px) {
        font-size: 28px;
        line-height: 1.18;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.17;
    }
}

.activities__title,
.team__title,
.clients__title,
.clients__title {
    margin-bottom: 50px;
}

.hero__title {
    color: var(--main-bg-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 360px;
    }

    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}