// @media screen and (max-width: 1199px) {
//     .activities {
//         display: none;
//     }
// }

.activities {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .activities__list {
        display: flex;
    }
    
    .activities__listItem {
        margin-right: var(--cards-gap);
    
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    
    .activities__wrap {
        position: relative;
    }
    
    .activities__textWrap {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
    
        bottom: 0;
        width: 100%;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
    }
    
    .activities__text {
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-bg-color);
    }
}


