.features {
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 0;
    }
}

.features__list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__iconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    // width: 270px;
    background-color: var(--light-bg-color);
}

.features__listTitle {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.14;
    margin-bottom: 10px;
    margin-top: 30px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.features__listItem {
    // width: 270px;
    // margin-right: var(--cards-gap);

    // &:nth-child(4n) {
    //     margin-right: 0;
    // }
    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
}

.features__listItem:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}
