.hero {
    background-color: var(--hero-bg-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero-bg {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
        var(--hero-overlay),
        var(--hero-overlay)),
        url(../images/bg-hero.jpg);

    @media screen and (min-width: 480px) {
        height: 400px;
    }

    @media screen and (min-width: 1200px) {
        height: 600px;
    }
}
